/* // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  ...;
} */

body {
  background-color: #ffffff;
  background-repeat: repeat;
  padding-bottom: 60px;
}

.topborder {
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
  padding: 0px;
}

.card {
  padding: 18px;
  margin: auto;
}

.navbar {
  margin: 0px;
  padding: 0px;
}

.navbar-brand {
  color: #ffffff;
  background-color: #002091;
  height: 100px;
  width: 300px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  padding: 50px 20px;
  margin: 35px 35px;
}

#navbarResponsive {
  padding-right: 1%;
}

.nav-link {
  text-align: center;
}

#topheading {
  width: 960px;
  background-color: #ffffff;
  margin: auto;
  position: relative;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
}
#line {
  border-bottom: 2px solid #cccccc;
  width: 910px;
  margin: auto;
}

.card {
  margin-top: none;
  padding: 0px 2%;
}

#content {
  width: 910px;
  margin: 15px auto;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
}
.headshot {
  padding: 10px 35px 0px 25px;
}
.title {
  margin-top: 18px;
}
#aboutme {
  width: 960px;
  padding: 20px 25px;
  margin: 20px auto;
  font-size: 12;
  line-height: 1.5;
  border: 1.5px solid #dddddd;
}
#subheading {
  width: 100%;
  height: 55px;
  text-align: left;
  padding-left: 10px;
  vertical-align: middle;
  color: #002091;
  font-family: "Roboto", sans-serif;
  margin-top: auto;
  background-color: #fff;
}
.card {
  border: none;
}
.card-header {
  background: none;
}
a:link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
}
a:visited {
  text-decoration: none;
  color: #777777;
}
a:hover {
  text-decoration: none;
  color: #002091;
}
a:active {
  text-decoration: none;
  color: #002091;
}
#left {
  float: left;
}
#right {
  float: right;
}
p {
  color: #777777;
}
/* Container holding the image and the text */
.container {
  position: relative;
  width: 250px;
  margin: 10px 10px;
}
/* Portfolio Label Text Block */
.plabel {
  position: absolute;
  margin: 0px auto;
  bottom: 30%;
  text-align: center;
  background-color: #002091;
  color: #f8f8ff;
  padding: 10px 5px 10px 5px;
  height: auto;
  width: auto;
  font-family: "Roboto", sans-serif;
}

.psublabel {
  font-family: "Roboto", sans-serif;
  font-size: 75%;
  padding: 0px;
  text-align: center;
  align-content: center;
}

footer {
  margin-top: 80px;
  background: #f8f8ff;
  height: 35px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 9pt;
  color: #002091;
  padding-top: 10px;
  padding-bottom: 5px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* Active States for Button - Much Styles*/
.btn {
  border-radius: 0px;
  border: 0;
  width: 110px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background: #002091;
  color: #f8f8ff;
}
.btn:hover {
  background: #f8f8ff;
  color: #002091;
  border: 0.5px solid #002091;
}
.btn:active::after {
  transition: 1ms;
}
